html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    font-family: League Spartan, sans-serif;
    transition: transform 0.3s ease;
    margin: 0%;
    padding: 0%;
}

#projects {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    justify-content: center;
    padding: 40px;
    margin-bottom: -100px;
    padding-top: 150px;
}

.project-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 400px;
    height: 290px;
    padding: 50px auto;
    padding-bottom: 10px;
    transition: transform 0.6s ease, box-shadow 0.3s ease;
}

.project-item:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);

}

.project-image img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 0%;
}


.project-tile {
    text-align: center;
    padding-top: 10px;
}

.project-tile h2 {
    font-size: 1.3rem;
    margin: 10px 0;
    color: #000000;

}

.off-screen-menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height:100vh;
    background: #1a1a1a;
    backdrop-filter: blur(10px);
    transition: top 0.5s ease-in-out, opacity 0.7s ease-in-out;
    z-index: 1000;
    padding-top: 80px;
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    opacity: 0;
}

.off-screen-menu.active {
    top: 0;
    opacity: 1;
}

.hamburger-menu.hidden {
    opacity: 0;
    visibility: hidden;
}

.hamburger-menu:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.hamburger-menu {
    position: fixed;
    top:30px;
    left: 20px;
    cursor: pointer;
    z-index: 1100;
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    transition: background-color 0.3s ease-in-out;
}

.hamburger-menu .bar {
    width: 25px;
    height: 2px;
    background-color: white;
    border-radius: 3px;
    transition: transform 0.3s ease-in-out, opacity 0.5s ease-in-out;
}

/* Hamburger Animation */
.hamburger-menu.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger-menu.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger-menu.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}


.off-screen-menu ul {
    list-style: none;
    padding: 0;
    text-align:center;
}


.off-screen-menu a {
    text-decoration: none;
    display: block;
    padding: 35px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    transition: color 0.3s, transform 0.4s ease-in-out,opacity 0.3s ease-in-out;
    position: relative;
    letter-spacing: 1px;
    opacity: 0;
}
.off-screen-menu.active a {
    opacity: 1;
}
.off-screen-menu a:hover {
    color: cyan;
    transform: scale(1.05);
}

.scroll-indicator {
    position: fixed;
    bottom:70px;
    width: 40px;
    height: 40px;
    border-radius: 80%;
    border: 2px solid rgba(255, 255, 255, 0.7);
    text-shadow:
        0px 0px 8px rgba(255, 255, 255, 0.8),
        0px 0px 15px rgba(248, 248, 248, 0.8),
        0px 0px 25px rgba(255, 255, 255, 0.8),
        0px 0px 40px rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1000;
    opacity: 1;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease;
    animation: pulse 1.5s infinite;
}

.scroll-indicator::before {
    content: "^";
    font-size: 30px;
    color: white;
    text-shadow:
        0px 0px 8px rgba(255, 255, 255, 0.8),
        0px 0px 15px rgba(248, 248, 248, 0.8),
        0px 0px 25px rgba(255, 255, 255, 0.8),
        0px 0px 40px rgba(255, 255, 255, 0.8);
    transform: rotate(180deg);
}

.hidden {
    opacity: 0;
    transform: translateY(20px);
}

@keyframes pulse {

    0%,
    100% {
        box-shadow: 0 0 10px rgba(0, 247, 255, 0.5);
    }

    50% {
        box-shadow: 0 0 45px rgba(255, 255, 255, 0.8);
    }
}

@media (min-width:1200px) {
    .polygon {
        clip-path: polygon(50% 0%, 100% 0, 100% 100%, 73% 88%, 0 100%, 0% 60%, 0 0);
        padding-top: 60px;
        height: 1050px;
        margin-bottom: 40px;
    }

    .polygon2 {
        clip-path: polygon(73% 25%, 100% 35%, 100% 97%, 73% 90%, 0 97%, 0% 60%, 0 35%);
        height: 1000px;
        padding-top: 400px;
    }

    .project-image {
        opacity: 0.83;
        transition: transform 0.5s ease, opacity 0.5s ease;
    }

    .project-tile h2 {
        opacity: 0.5;
        transition: opacity 0.5s ease, transform 0.9s ease;
    }

    .project-item:hover .project-image {
        transform: scale(1.1);
        opacity: 1;
    }

    .project-item:hover .project-tile h2 {
        opacity: 1;

        transform: translateY(15px);
    }

    #social-link {
        clip-path: polygon(73% 0, 100% 33%, 100% 100%, 0 100%, 0 31%);
        height: 230px;
        padding-top: 30px;
    }

    .project-tile p {
        display: none;
    }



    .middle-text {
        margin-bottom: -30px;
        padding-top: 25px;
        padding-bottom: 10px;
        display: inline-block;
   
    }

    .welcome-section-item1 {
        margin-top: 250px;
        font-size: 40px;
    }

    .welcome-section-item3 {
        max-width: 800px;
        margin: auto;
        font-weight:normal;

    }

    .box1,
    .box2 {
        max-width: 700px;
        text-align: center;
        margin: auto;
    }

    .protext {
        max-width: 700px;
        text-align: center;
        margin: auto;
    }



    .off-screen-menu,
    .hamburger-menu {
        display: none;
    }
  .top-right a{
  margin-left:120px;
  }
  
  .top-left{
    margin-right:120px;
  }
 
}

@media (max-width:1199px) {
    .polygon {
        clip-path: polygon(50% 0%, 100% 0, 100% 100%, 76% 94%, 0 100%, 0% 60%, 0 0);
        height:700px;
        padding-bottom: 100px;
    }

    .polygon2 {
        clip-path: polygon(71% 29%, 100% 35%, 100% 97%, 73% 94%, 0 97%, 0% 60%, 0 35%);
        height:700px;
        padding-top:200px;
        padding-bottom: 100px;
    }

    .form-container {
        padding-top: 200px;
    }

    #social-link {
        clip-path: polygon(73% 0, 100% 16%, 100% 100%, 0 100%, 0 15%);
        height: 230px;
    }

   
    .project-tile p {
        display: none;
    }

    .project-item .project-image img {
        opacity: 1;
    }

    .welcome-section-item2 h1 {
        line-height: 60px;
        padding-top: 30px;
        margin-top: 10px;
        font-size: 40px;
    }

    .welcome-section-item1 {
        margin-top: -60px;
        font-size: 24px;
    }

    .welcome-section-item3 {
        width: 80%;
        margin: auto;
        margin-top: -20px;
    }

    #navbar .top-middle,
    #navbar .top-left {
        display: none;
        background-color: transparent;
    }

    .top-right {
        display:none;
  
    }

    #navbar {
        background-color: transparent !important;
    }

}

@media (max-width:490px) {
    .project-item {
        width: 360px;
        height: 250px;
        
    }

    .welcome-section-item3 {
        width: 100%;
        padding-right: 30px;
    }

    #social-link,
    .polygon {
        padding-right: 30px;
    }

    .scroll-indicator,
    .welcome-section-item2,
    .welcome-section-item1,
    .img1,
    .footer {
        margin-right: -30px;
    }
}

@media (max-width:410px) {
    .footer {
        font-size: 17px;
    }

    .welcome-section-item3 {
        width: 100%;
    }

    .img1 {
        transform: scale(0.9);
    }

    #welcome-section {
        margin-top: -60px;
    }

    .project-item {
        width: 360px;
        height: 220px;
    }

    .project-item .project-tile h2 {
        margin-bottom: 60px;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.pulse {
    animation: pulse 1s ease-in-out infinite;
    animation-play-state: paused;
}

.pulse:hover {
    animation-play-state: running;
}



.img1 {
    width: 28px;
    transition: transform 0.3s ease;
}

.img1:hover {
    transform: scale(1.3);
}

#navbar {
    height:70px;
    position:fixed;
    top: 0%;
    right: 0%;
    left: 0%;
    z-index: 100;
    padding-bottom: 10px;
    padding: 20px;
    transition: background-color 0.3s ease-in-out;
}
#navbar.scrolled {
    background-color: rgb(12, 12, 12) !important;
}
.top-middle-items {
    position: relative;
    color: white;
    text-decoration: none;
    transition: transform 0.3s;
}

.top-middle-items:hover {
    color: aqua;
    cursor: pointer;
    transform: scale(1.2);
}

.top-middle-items::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: rgb(7, 234, 241);
    transition: transform 0.6s ease;
    transform: scale(0);
}

.top-middle-items:hover::after {
    transform: scale(1) translateY(5px);
}

.top-middle {
    display: flex;
    justify-content: space-between;
    width:500px;
    font-weight: 600;
}

.top-right {
    margin-bottom: 5px;
    padding-right:20px;

}

.top-button:hover {
    cursor: pointer;
    transform: scale(1.15)
}

.top-button {
    padding: 10px 20px;
    font-size: small;
    color: black;
    background-color: aqua;
    border: none;
    font-weight: bold;
    border-radius: 3px;
    transition: transform 0.4s ease-in-out;
}

.top {
    font-weight: bold;
    width:800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px;
    color: white;
    margin-bottom: 50px;
    margin: auto
}

.img {
    border-radius: 20px;
    max-width: 100%;
    border-radius: 20px;
    width: 500px;
}

.welcome-section-item1 span {
    display: inline-block;
    transition: transform 0.5s ease, color 0.5s ease;
}

.welcome-section-item1 span:hover {
    transform: scale(1.9);
    color: aqua;
}

.welcome-section-item1,
.welcome-section-item2,
.welcome-section-item3 {
    padding: 10px;
    text-align: center;
    line-height: 10px;
}

.welcome-section-item3 {
    font-size: large;
    font-family: Oxygen;
}

#services {
    clip-path: polygon(0 0, 25% 20%, 100% 0%, 100% 100%, 0 100%);
    background:  #1a1a1a ;
}

.social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 190px;
    transform: translateY(15px);
    padding: 20px;
}

#social-link {
    position: relative;
    line-height: 70px;
    color: aqua;
    text-align: center;
    font-size: larger;
    background:  #1a1a1a ;




    height: 230px;
    padding-top: 30px;
    margin-top: 100px;
}

#welcome-section,#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: xx-large;
}

#profile-link {
    color: white;
    text-decoration: none;
    transition: all 0.3s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fade-In {
    animation: fadeIn 2s ease-in;
    padding-top: 35px;

}

.top-left img {
    transition: transform 0.4s;
}
#loading-screen {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background:  #1a1a1a ;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 1s ease-in-out, visibility 1s ease-in-out;
}

svg {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

svg text {
    text-align: center;
    letter-spacing: -1px;
    fill: black;
    font-size: 50px;
    stroke-width: 1px;
    stroke: rgb(255, 255, 255);
    animation: stroke 3s alternate infinite;
}

@keyframes stroke {
    0% {
        fill: transparent;
        stroke: black;
        stroke-dasharray: 0% 35%;
        stroke-dashoffset: -30px;
    }

    80% {
        fill: rgb(0, 0, 0);
        stroke: white;
        stroke-dasharray: 35% 0%;
        stroke-dashoffset: 0px;
    }

    100% {
        fill: rgb(255, 255, 255);
        stroke: white;
        stroke-dasharray: 35% 0%;
        stroke-dashoffset: 0px;
    }
}

.hide {
    opacity: 0;
    visibility: hidden;
}


#content {
    display: none;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.show {
    display: block;
    opacity: 1;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -100;
}

.polygon {
    position: relative;
    background:  #1a1a1a ;

   
}

.polygon2 {
    position: relative;
    background:  #1a1a1a ;


}

.form-container {
    margin-top: 90px;
    background: rgb(32, 32, 32);
    padding: 70px;
    border-radius: 15px;
    width: 400px;
    text-align: center;
}

h2 {
    color: white;
    margin-bottom: 25px;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

input,
textarea {
    width: 100%;
    padding: 14px;
    margin: 12px 0;
    border:2px solid aqua;
    border-radius: 10px;
    font-size: 16px;
    background: rgb(255, 255, 255);
    color: black;
    transition: 0.3s ease-in-out;
}

input::placeholder,
textarea::placeholder {
    color: rgba(0, 0, 0, 0.8);
}

input:focus,
textarea:focus {
    border-color: white;
    box-shadow: 0px 0px 24px rgba(0, 255, 255, 0.6);
    outline: none;
    transform: scale(1.02);
}

textarea {
    min-height: 100px;
    resize: none;
}

.button {
    width: 108%;
    background: aqua;
    color: black;
    padding: 15px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.button:hover {
    background: rgba(0, 255, 255, 0.85);
    transform: scale(1.05);
}
.form{
    padding-bottom: 140px;
}

@media (max-width: 600px) {
    .polygon{
        height:770px;
    }
    .form-container {
        width: 85%;
        max-width: 320px;
        margin-top: 100px;
        padding: 80px;
        box-sizing: border-box;
    }

    input,
    textarea {
        width: 100%;
        max-width: 100%;
        padding: 20px;
        margin: 12px 0;
        font-size: 15px;
        box-sizing: border-box;
    }

    h2 {
        font-size: 20px;
    }

    .button {
        width: 100%;
        max-width: 100%;
        padding: 12px;
        font-size: 15px;
        box-sizing: border-box;
    }
}

@media (min-width: 601px) and (max-width: 1198px) {
    .form-container {
        margin-top: 60px;
    }
}

#skills {
    display: flex;
    gap: 60px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 90%;
    margin: auto;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.skill img {
    margin-top: 300px;
    width: 120px;
    height: auto;
    transition: transform 0.35s ease-in-out;
}

.skill p {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
}

.skill img:hover {
    transform: scale(1.2);
}

@media (max-width: 950px) {
    #skills {
        gap: 20px;
    }

    .skill img {
        width: 110px;
    }

    .skill p {
        font-size: 18px;
    }
}

@media (max-width: 716px) {
    #skills {
        flex-direction: column;
    }

    .skill img {
        margin-top:80px;
        width: 80px;

    }

    .skill p {
        font-size: 16px;
    }

    .polygon2 {
        height:1200px;
        padding-top: 450px;
        margin-top: -330px;
    }
}

/* Lenis recommended CSS */
html.lenis {
	height: auto;
}

.lenis.lenis-smooth {
	scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
	overscroll-behavior: contain;
}

.lenis.lenis-stopped {
	overflow: hidden;
}

.lenis.lenis-scrolling iframe {
	pointer-events: none;
}
