html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    font-family: League Spartan, sans-serif;
    transition: transform 0.3s ease;
    margin: 0%;
    padding: 0%;
}

#projects {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    justify-content: center;
    padding: 40px;
}

.project-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 400px;
    height: 290px;
    padding: 50px auto;
    padding-bottom: 10px;
    transition: transform 0.6s ease, box-shadow 0.3s ease;
}

.project-item:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);

}

.project-image img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 0%;
}


.project-tile {
    text-align: center;
    padding-top: 10px;
}

.project-tile h2 {
    font-size: 1.3rem;
    margin: 10px 0;
    color: #000000;

}

.off-screen-menu {
    position: fixed;
    top: 0;
    left: -280px;
    width: 280px;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    transition: left 0.4s ease-in-out;
    z-index: 1000;
    padding-top: 80px;
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}


.off-screen-menu.active {
    left: 0;
}



.hamburger-menu.hidden {
    opacity: 0;
    visibility: hidden;
}

.hamburger-menu:hover {
    background-color: rgba(255, 255, 255, 0.2);
}


.hamburger-menu {
    position: fixed;
    top: 20px;
    left: 20px;
    cursor: pointer;
    z-index: 1100;
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    transition: background-color 0.3s ease-in-out;
}

.hamburger-menu .bar {
    width: 25px;
    height: 2px;
    background-color: white;
    border-radius: 3px;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}


.hamburger-menu.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger-menu.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger-menu.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}


.off-screen-menu ul {
    list-style: none;
    padding: 0;
    text-align: center;
}


.off-screen-menu a {
    text-decoration: none;
    display: block;
    padding: 35px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    transition: color 0.3s, transform 0.2s ease-in-out;
    position: relative;
    letter-spacing: 1px;
}

.off-screen-menu a:hover {
    color: cyan;
    transform: scale(1.05);
}

.scroll-indicator {
    position: fixed;
    bottom: 30px;
    width: 40px;
    height: 40px;
    border-radius: 80%;
    border: 2px solid rgba(255, 255, 255, 0.7);
    text-shadow:
        0px 0px 8px rgba(255, 255, 255, 0.8),
        0px 0px 15px rgba(248, 248, 248, 0.8),
        0px 0px 25px rgba(255, 255, 255, 0.8),
        0px 0px 40px rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1000;
    opacity: 1;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease;
    animation: pulse 1.5s infinite;
}

.scroll-indicator::before {
    content: "^";
    font-size: 30px;
    color: white;
    text-shadow:
        0px 0px 8px rgba(255, 255, 255, 0.8),
        0px 0px 15px rgba(248, 248, 248, 0.8),
        0px 0px 25px rgba(255, 255, 255, 0.8),
        0px 0px 40px rgba(255, 255, 255, 0.8);
    transform: rotate(180deg);
}

.hidden {
    opacity: 0;
    transform: translateY(20px);
}

@keyframes pulse {

    0%,
    100% {
        box-shadow: 0 0 10px rgba(0, 247, 255, 0.5);
    }

    50% {
        box-shadow: 0 0 45px rgba(255, 255, 255, 0.8);
    }
}

@media (min-width:1200px) {
    .polygon {
        clip-path: polygon(50% 0%, 100% 0, 100% 100%, 73% 88%, 0 100%, 0% 60%, 0 0);
    }

    .project-image {
        opacity: 0.83;
        transition: transform 0.5s ease, opacity 0.5s ease;
    }

    .project-tile h2 {
        opacity: 0.5;
        transition: opacity 0.5s ease, transform 0.9s ease;
    }

    .project-item:hover .project-image {
        transform: scale(1.1);
        opacity: 1;
    }

    .project-item:hover .project-tile h2 {
        opacity: 1;

        transform: translateY(15px);
    }

    #social-link {
        clip-path: polygon(73% 0, 100% 33%, 100% 100%, 0 100%, 0 31%);
        height: 230px;
        padding-top: 30px;
    }

    .project-tile p {
        display: none;
    }

    @keyframes typing {
        0% {
            width: 0%;
        }

        50%,
        60% {
            width: 100%;
        }

        90%,
        100% {
            width: 0%;
        }
    }

    @keyframes blink {
        0% {
            border-color: transparent;
        }

        50% {
            border-color: rgba(255, 255, 255, 0.75);
        }

        100% {
            border-color: transparent;
        }
    }

    .middle-text {
        margin-bottom: -30px;
        padding-top: 25px;
        padding-bottom: 10px;
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
        border-right: 6px solid rgba(255, 255, 255);
        animation: typing 6s 1s steps(60) both infinite, blink 1s infinite;
    }

    .welcome-section-item1 {
        margin-top: 250px;
        font-size: 40px;
    }

    .welcome-section-item3 {
        max-width: 800px;
        margin: auto;
        font-weight: 550;

    }

    .box1,
    .box2 {
        max-width: 700px;
        text-align: center;
        margin: auto;
    }

    .protext {
        max-width: 700px;
        text-align: center;
        margin: auto;
    }



    .off-screen-menu,
    .hamburger-menu {
        display: none;
    }

}

@media (max-width:1199px) {
    .polygon {
        clip-path: polygon(50% 0%, 100% 0, 100% 100%, 76% 94%, 0 100%, 0% 60%, 0 0);
    }

    #social-link {
        clip-path: polygon(73% 0, 100% 16%, 100% 100%, 0 100%, 0 15%);
        height: 230px;
        padding-top: 30px;
    }

    .top-right button a {
        display: block;
    }

    .project-tile p {
        display: none;
    }

    .project-item .project-image img {
        opacity: 1;
    }

    .welcome-section-item2 h1 {
        line-height: 60px;
        padding-top: 30px;
        margin-top: 10px;
        font-size: 40px;
    }

    .welcome-section-item1 {
        margin-top: -60px;
        font-size: 24px;
    }

    .welcome-section-item3 {
        width:80%;
        margin: auto;
        margin-top: -20px;
    }

    video {
        display: none;
    }

    #navbar .top-middle,
    #navbar .top-left {
        display: none;
        background-color: transparent;
    }

    .top-right {
        display: block;
        position: absolute;
        right: 10px;
        padding-top: 10px;
        background-color: transparent;
    }

    #navbar {
        background-color: transparent !important;
    }

}

@media (max-width:490px) {
    .project-item {
        width: 360px;
        height: 250px;
    }

    .welcome-section-item3 {
        width: 100%;
        padding-right:30px;
    }
    #social-link,.polygon {
        padding-right:30px;
}
.scroll-indicator,.welcome-section-item2,.welcome-section-item1,.img1,.footer{
    margin-right: -30px;
}
}
@media (max-width:410px) {
    .footer {
        font-size: 17px;
    }

    .welcome-section-item3 {
        width: 100%;
    }

    .img1 {
        transform: scale(0.9);
    }

    #welcome-section {
        margin-top: -60px;
    }

    .project-item {
        width: 360px;
        height: 220px;
    }

    .project-item .project-tile h2 {
        margin-bottom: 60px;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.pulse {
    animation: pulse 1s ease-in-out infinite;
    animation-play-state: paused;
}

.pulse:hover {
    animation-play-state: running;
}



.img1 {
    width: 28px;
    transition: transform 0.3s ease;
}

.img1:hover {
    transform: scale(1.3);
}

#navbar {
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    height: 60px;
    position: fixed;
    top: 0%;
    right: 0%;
    left: 0%;
    z-index: 100;
    padding-bottom: 10px;
    padding: 20px;
}

.top-middle-items {
    position: relative;
    color: white;
    text-decoration: none;
    transition: transform 0.3s;
}

.top-middle-items:hover {
    color: aqua;
    cursor: pointer;
    transform: scale(1.2);
}

.top-middle-items::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: rgb(7, 234, 241);
    transition: transform 0.6s ease;
    transform: scale(0);
}

.top-middle-items:hover::after {
    transform: scale(1) translateY(5px);
}

.top-middle {
    display: flex;
    justify-content: space-between;
    width: 270px;
}

.top-right {
    margin-bottom: 5px;
    padding-right: 10px;

}

.top-button:hover {
    cursor: pointer;
    transform: scale(1.2)
}

.top-button {
    padding: 10px 20px;
    font-size: small;
    color: black;
    background-color: aqua;
    border: none;
    font-weight: bold;
    border-radius: 3px;
    transition: transform 0.4s;
}

.top {
    font-weight: bold;
    width: 540px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px;
    color: white;
    margin-bottom: 50px;
    margin: auto
}

.img {
    border-radius: 20px;
    max-width: 100%;
    border-radius: 20px;
    width: 500px;
}

.welcome-section-item1 span {
    display: inline-block;
    transition: transform 0.5s ease, color 0.5s ease;
}

.welcome-section-item1 span:hover {
    transform: scale(1.9);
    color: aqua;
}

.welcome-section-item1,
.welcome-section-item2,
.welcome-section-item3 {
    padding: 10px;
    text-align: center;
    line-height: 10px;
}

.welcome-section-item3 {
    font-size: large;
    font-family: Oxygen;
}

#services {
    clip-path: polygon(0 0, 25% 20%, 100% 0%, 100% 100%, 0 100%);
    background-color: rgb(15, 15, 15);
}

.social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 190px;
    transform: translateY(15px);
    padding: 20px;
}

#social-link {
    position: relative;
    line-height: 70px;
    color: aqua;
    text-align: center;
    font-size: larger;
    background-color: black;
    height: 230px;
    padding-top: 30px;
    margin-top: 100px;
}

#welcome-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: xx-large;
}

#profile-link {
    color: white;
    text-decoration: none;
    transition: all 0.3s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fade-In {
    animation: fadeIn 2s ease-in;
    padding-top: 35px;

}

.top-left img {
    transition: transform 0.4s;
}

.top-left img:hover {
    transform: scale(1.3);
}

#loading-screen {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgb(22, 20, 22);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 1s ease-in-out, visibility 1s ease-in-out;
}

svg {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

svg text {
    text-align: center;
    letter-spacing: -1px;
    fill: black;
    font-size: 50px;
    stroke-width: 1px;
    stroke: rgb(255, 255, 255);
    animation: stroke 3s alternate infinite;
}

@keyframes stroke {
    0% {
        fill: transparent;
        stroke: black;
        stroke-dasharray: 0% 35%;
        stroke-dashoffset: -30px;
    }

    80% {
        fill: rgb(0, 0, 0);
        stroke: white;
        stroke-dasharray: 35% 0%;
        stroke-dashoffset: 0px;
    }

    100% {
        fill: rgb(255, 255, 255);
        stroke: white;
        stroke-dasharray: 35% 0%;
        stroke-dashoffset: 0px;
    }
}

.hide {
    opacity: 0;
    visibility: hidden;
}


#content {
    display: none;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.show {
    display: block;
    opacity: 1;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -100;
}

.polygon {
    position: relative;
    background-color: rgb(22, 22, 22);
    padding-top: 60px;
    height: 1050px;
    margin-bottom: 40px;
}
